@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: white;
    animation: animation 3.5s linear infinite;
}

@keyframes animation{
    0% {
        background: rgb(223, 28, 28);
    }
    50% {
        background: grey;
    }
    100% {
        background: rgb(223, 28, 28);
    }
}



form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 80vh;
    border: 2px solid black;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.89);
    margin-top: 5%;
    color: white;
}

#cor1, #cor2, #corfonte {
    border: 2px solid;
    width: 30px;
}

#graus, #fonte {
    width: 50px;
    border: 2px solid;
} 

input {
    text-align: center;
    
}

#txtarea {
    border: 2px solid;
    text-align: center;
}

#btn {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}

#btn:hover {
    color: white;
    background-color: black;
}

#res {
    border: 2px solid black;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 68px;
    left: 50vw;
    background-color: rosybrown;
}

#textofinal {
    position: absolute;
    top: 20vh;
    left: 10vw;
    text-align: center;
    font-size: 20px;
    overflow: auto;
    max-height: 240px;
    max-width: 317px;
}



@media screen and (max-width:650px) {
    #txtarea {
        width: 150px;
    }
}